# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true


# Set default charset
[*.{cpp,c,hpp,h,cxx}]
charset = utf-8

# indentation
indent_style = tab

trim_trailing_whitespace = true

curly_bracket_next_line	=true

#indent_brace_style = Allman
